{% extends 'layouts/base-auth.html' %}
{% load static %}

{% block content %}
<style>
    .auth-wrapper {
        background: #07a4a8;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #fff, #07a4a8);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #fff, #07a4a8);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        float: left;
        width: 100%;
        height: 100%;
        /* Ajusta el alto para que ocupe toda la pantalla */
        padding: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .auth-content {
        padding: 30px;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        background: #fff;
        border-radius: 10px;
        box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
    }

    .auth-content .auth-icon {
        color: #07a4a8;
        font-size: 48px;
    }

    .auth-content h3 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #07a4a8;
    }

    .auth-content form .input-group {
        margin-bottom: 20px;
    }

    .auth-content form .btn-primary {
        background-color: #07a4a8;
        border-color: #07a4a8;
    }

    .auth-content form .btn-primary:hover {
        background-color: #065b5f;
        border-color: #065b5f;
    }

    .auth-content .text-muted a {
        color: #07a4a8;
    }

    .auth-content .text-muted a:hover {
        color: #065b5f;
    }

    .auth-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .auth-bg .r {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .auth-bg .r.s {
        background: rgba(255, 255, 255, 0.1);
    }

    .auth-bg .r:nth-child(2) {
        top: 25%;
        left: 25%;
        animation: animate 25s linear infinite;
        opacity: 0;
    }

    .auth-bg .r:nth-child(3) {
        top: 10%;
        left: 30%;
        animation: animate 20s linear infinite;
    }

    .auth-bg .r:nth-child(4) {
        top: 20%;
        left: 45%;
        animation: animate 35s linear infinite;
    }

    @keyframes animate {
        0% {
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 0;
        }

        100% {
            transform: translateY(-800px) rotate(720deg);
            opacity: 0;
            border-radius: 50%;
        }
    }
</style>

<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
        </div>
        <div class="card">
            <form method="post" class="card-body text-center" style="border-radius: 10px;">
                {% csrf_token %}

                <div class="mb-4">
                    <i class="feather icon-user-plus auth-icon"></i>
                </div>
                <h3 class="mb-4">Cambiar Contraseña</h3>
                {% for field in form %}
                <div class="input-group mb-3">
                    {{ field }}
                </div>
                <span class="text-danger d-block text-left">{{ field.errors }}</span>
                {% endfor %}
                <button type="submit" class="btn btn-primary shadow-2 mb-4">Cambiar Contraseña</button>
                <p class="mb-0 text-muted">Ir a <a href="{% url 'index' %}">Inicio</a></p>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

