{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}
    <!-- Aquí puedes agregar el código para las migas de pan (breadcrumbs) si es necesario -->
{% endblock breadcrumbs %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header text-center">
            <h5>Bienvenido al Sistema Estadístico Cultural del Valle del Cauca - SECVC: <span class="text-primary">{{ user.username }}</span></h5>
        </div>

        <div class="card-body text-center">
            <p class="text-info mb-3">
                <u><b>Explora nuestro sitio y descubre la riqueza cultural y estadística de nuestra región. ¡Disfruta de una experiencia única mientras navegas por nuestro contenido y servicios diseñados para ti.</b></u>
            </p>
            <div class="b-bg">
                <i style="display: inline-block; margin: 0 10px; width: 200px;">
                    <img src="{% static 'assets/images/logo_gob.jpg' %}" alt="Logo" style="width: 100%; height: auto;">
                </i>
                <i style="display: inline-block; margin: 0 10px; width: 350px;">
                    <img src="{% static 'assets/images/logo_cul.jpg' %}" alt="Logo" style="width: 100%; height: auto;">
                </i>
            </div>

            <p class="text-info mb-3">
                <b>Las Escuelas Culturales Vallecaucanas son una estrategia que promueve el goce efectivo de los derechos culturales de los niños, niñas, adolescentes y jóvenes del Valle del Cauca, a través de la experimentación artística (valoración, enseñanza, fomento) con énfasis en cultura de paz. Dentro de sus objetivos está fortalecer las prácticas artísticas y culturales que generan identidad a nivel comunitario, local y regional, mediante su valoración; generando espacios de enseñanza que promueven la cultura, como entorno protector los niños, adolescentes y jóvenes del departamento; visibilizando los procesos comunitarios y locales que promueven prácticas culturales de paz.</b>
            </p>
            <p class="text-info mb-3">
                <b>La Gobernación del Valle del Cauca desde la Secretaría de Cultura sigue en el fortalecimiento de las habilidades con relación a procesos de formación formal y no formal en arte y cultura con énfasis en prácticas culturales de paz, a personas de la comunidad que sean portadores de tradición y saberes populares.</b>
            </p>
            <p class="text-info mb-3">
                <b>
                    Es por esta razón que se desarrolla un software estadístico para la cultura para recopilar datos relevantes sobre actividades culturales, participación comunitaria y tendencias en el ámbito cultural del Valle del Cauca. Este sistema proporcionará información valiosa para la toma de decisiones, la planificación estratégica y el desarrollo cultural de la región.</b>
            </p>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h5>Novedades</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-center"> <!-- Modificación: Añadido d-flex y justify-content-center -->
                            <!-- Primer video -->
                            <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FEsCulValle%2Fvideos%2F873190171242536%2F&show_text=true&width=560&t=0" width="560" height="429" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true" class="mx-auto"></iframe>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center"> <!-- Modificación: Añadido d-flex y justify-content-center -->
                            <!-- Segundo video -->
                            <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fsecretariadeculturavalledelcauca%2Fvideos%2F2314077075463704%2F&show_text=true&width=560&t=0" width="560" height="429" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true" class="mx-auto"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="col-md-12">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h5>Síguenos en redes sociales:</h5>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="https://www.facebook.com/EsCulValle" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/EsCulValle" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.youtube.com/@secretariadeculturavallede8406" target="_blank"><i class="fab fa-youtube fa-2x"></i></a></li>
                            <!-- Puedes agregar más enlaces y iconos según necesites -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}
